@tailwind base;
@tailwind utilities;
@tailwind components;

body {
  overflow-x: hidden;
  @apply bg-gradient-to-br from-[#282828] to-[#19335a];
  color: #fff;
}

.text-gradient {
  background: radial-gradient(
    circle farthest-side at left center,
    #991eeb 0%,
    #820dcf 25%,
    #8003d3 50%,
    #9b1af1 75%,
    #5822b4 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.animation-link {
  transition: 0.4s;
}
.animation-link:hover {
  transform: scale(1.1);
}
.animation-img {
  transition: 0.1s;
}
.animation-img:hover {
  transform: scale(1.1);
}
.slide {
  transition: 2s;
}
.slide-img {
  transition: 2s;
}
.navigation {
  transition: opacity 0.4s ease-in;
  opacity: 0;
  z-index: 1;
}
.slide-container:hover .navigation {
  opacity: 1;
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}
@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.blur-card {
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.blur-button {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.parent {
  display: grid;
  grid-template-columns: 0.1fr 1.5fr 0.4fr;
  grid-template-rows: 1fr;
}
.banner-grid {
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  grid-template-rows: 1fr;
  place-content: center;
  place-items: center;
}
.liked-container {
  position: relative;
  top: -75px;
  margin-left: 10px;
}
.liked-btn {
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-image: url('../assets/liked_button.png');
  background-size: 1450px 50px;
  padding: 0px;
  margin: 0px;
}
@media screen and (min-width: 270px) and (max-width: 620px) {
  .liked-btn {
    width: 50px;
    height: 50px;
  }
}

.liked-btn--liked {
  animation-name: like;
  animation-duration: 0.8s;
  animation-timing-function: steps(28);
  /* background-position: -2800px 0; */
  /* background-position: right; */
  animation-fill-mode: forwards;
}

@keyframes like {
  0% {
    background-position: 0 0;
  }
  100% {
    /* background-position: -2800px 0; */
    background-position: right;
  }
}

@media screen and (min-width: 920px) and (max-width: 1024px) {
  .banner-grid {
    grid-template-columns: 0.4fr 1fr;
    grid-template-rows: 1fr;
  }
}
@media screen and (min-width: 270px) and (max-width: 920px) {
  .banner-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 1fr;
  }
}
